<!-- ============ BEGIN PAGE CONTENT ============ -->
<div class="index-hero">
    <div class="row">
        <div class="col-sm-6">
            <h1>Expand your selling reach online</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed enim volutpat, porttitor nulla eu, tincidunt arcu. Nunc id purus accumsan, tempus mc id purus acc
            </p>
            <button type="button" class="btn btn-success btn-lg">Sell a new item!</button>
        </div>
        <div class="col-sm-6" style="text-align:right">
            <img src="assets/hero-image.png" width="400px">
        </div>
    </div>
</div>
<div class="index-features row">
    <div class="col-sm-4">
        <img src="assets/icon-1.png" height="82" width="auto">
        <h4>Multi-Channel</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed enim volutpat, porttitor nulla eu, tincidunt arcu. Nunc id purus accumsan, tempus mc id purus acc
        </p>
    </div>
    <div class="col-sm-4">
        <img src="assets/icon-2.png" height="82" width="auto">
        <h4>Geolocated</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed enim volutpat, porttitor nulla eu, tincidunt arcu. Nunc id purus accumsan, tempus mc id purus acc
        </p>
    </div>
    <div class="col-sm-4">
        <img src="assets/icon-3.png" height="82" width="auto">
        <h4>Safe and Secure</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed enim volutpat, porttitor nulla eu, tincidunt arcu. Nunc id purus accumsan, tempus mc id purus acc
        </p>
    </div>
</div>
<div class="index-listings">
    <div class="row">
        <div class="col-sm-3">
            &nbsp;
        </div>
        <div class="col-sm-3">
            <form class="form-inline" role="form">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle input-lg" data-toggle="dropdown"><strong>VIEW ALL</strong>&nbsp;&nbsp;<i class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Cars and Trucks</a></li>
                            <li><a href="#">Household</a></li>
                            <li><a href="#">Antiques</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Music</a></li>
                            <li><a href="#">Clothes and Acessories</a></li>
                        </ul>
                    </div>
                    <input type="text" class="form-control input-lg" placeholder="Tesla">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-crosshairs fa-2x"></i></span>
                    <input type="text" class="form-control input-lg" placeholder="Los Angeles, CA">
                </div>
            </div>
            <div class="col-sm-3">
                &nbsp;
            </div>
        </div>
        <div class="row" style="padding-top:30px;">
            <div class="col-sm-3">
                <div class="listing-tile-view">
                    <img src="assets/mini-image.jpg" width="100%" height="auto"><br/>
                    <div class="listing-wrapper" style="padding:15px;">
                        <h2>2011 Tesla Roadster</h2>
                        <h4>$110,000 <span>Firm</span></h4>
                        <h4>Electric Powered, 200-mile Range, 0-60 mph in 3.7 seconds</h4>
                        <span class="listing-location"><i class="fa fa-map-marker"></i> 8 miles away</span>
                    </div>
                </div>
                 &nbsp;
            </div>
            <div class="col-sm-3">
                <div class="listing-tile-view">
                    <img src="assets/mini-image.jpg" width="100%" height="auto"><br/>
                    <div class="listing-wrapper" style="padding:15px;">
                        <h2>2011 Tesla Roadster</h2>
                        <h4>$110,000 <span>Firm</span></h4>
                        <h4>Electric Powered, 200-mile Range, 0-60 mph in 3.7 seconds</h4>
                        <span class="listing-location"><i class="fa fa-map-marker"></i> 8 miles away</span>
                    </div>
                </div>
                 &nbsp;
            </div>
            <div class="col-sm-3">
                <div class="listing-tile-view">
                    <img src="assets/mini-image.jpg" width="100%" height="auto"><br/>
                    <div class="listing-wrapper" style="padding:15px;">
                        <h2>2011 Tesla Roadster</h2>
                        <h4>$110,000 <span>Firm</span></h4>
                        <h4>Electric Powered, 200-mile Range, 0-60 mph in 3.7 seconds</h4>
                        <span class="listing-location"><i class="fa fa-map-marker"></i> 8 miles away</span>
                    </div>
                </div>
                 &nbsp;
            </div>
            <div class="col-sm-3">
                <div class="listing-tile-view">
                    <img src="assets/mini-image.jpg" width="100%" height="auto"><br/>
                    <div class="listing-wrapper" style="padding:15px;">
                        <h2>2011 Tesla Roadster</h2>
                        <h4>$110,000 <span>Firm</span></h4>
                        <h4>Electric Powered, 200-mile Range, 0-60 mph in 3.7 seconds</h4>
                        <span class="listing-location"><i class="fa fa-map-marker"></i> 8 miles away</span>
                    </div>
                </div>
                 &nbsp;
            </div>
        </div>
    </div>
    <div class="index-footer">
        <div class="row">
            <div class="col-sm-3">
                <span>CATEGORIES</span><br/>
                <a href="#">AUTOMOBILES</a><br/>
                <a href="#">RECREATION VEHICLES</a><br/>
                <a href="#">MERCHANDISE</a><br/>
                <a href="#">REAL ESTATE</a><br/>
            </div>
            <div class="col-sm-3">
                <span>&nbsp;</span><br/>
                <a href="#">OFFICE EQUIPMENT</a><br/>
                <a href="#">PETS & ANIMALS</a><br/>
                <a href="#">SERVICES</a><br/>
                <a href="#">TRAVEL & LODGING</a><br/>
            </div>
            <div class="col-sm-6" style="text-align:right;">
                <img src="assets/footer-logo.png" width="200px">
            </div>
        </div>
    </div>
    </body>
    </html>