<table id="ads" class="display" data-source="<%= ads_url(format: "json") %>">
<thead>
  <tr>
    <th>Category</th>
    <th>Title</th>
    <th>Price</th>
    <th>Description</th>
    <th>Distance</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
  </tr>
</thead>
<tbody>
</tbody>
</table>
<% if current_user %>
<%= link_to 'New Ad', new_ad_path %>
<% end %>