<h1>Search Ads</h1>


<%= grid(@ads_grid, show_filters: :always) do |g|
  
  g.column name: 'THUMBNAIL' do |ad|
   image_tag ad.pic_url(:thumb)
  end

  g.column name: 'TITLE', attribute: 'title' do |ad|
   ad.title
  end
 
  g.column name: 'DESCRIPTION', attribute: 'description' do |ad|
   ad.description[0,100]
  end
  
  g.column name: 'PRICE', attribute: 'price_cents' do |ad|
   humanized_money_with_symbol ad.price
  end

  g.column name: 'CATEGORY', attribute: 'category_id',
           custom_filter: Category.all.map{|cg| [cg.name, cg.id]} do |ad|
   ad.category.name if ad.category
  end  

  g.column name: 'CITY' do |ad|
   [ad.address, ad.city, ad.state, ad.zip].compact.join(', ')
  end
  
  g.column name: 'DISTANCE' do |ad|
   if current_user
    ad.distance.round(2)
   end
  end

  

  g.column name: 'DATE ADDED', attribute: 'created_at' do |ad|
   ad.created_at.to_date
  end

  g.column do |ad|
   link_to('Show', ad)
  end


  g.column do |ad|
   if current_user
    link_to('Edit', edit_ad_path(ad))
   end
  end
 
  g.column do |ad|
   if current_user
    link_to('Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' })
   end
  end  

end %>



<br>

<% if current_user %>
<%= link_to 'New Ad', new_ad_path %>
<% end %>
