<table id="ads" class="display" data-source="<%= ads_url(format: "json") %>">
<thead>
  <tr>
    <th>Title</th>
  </tr>
</thead>
<tbody>
</tbody>
</table>
<% if current_user %>
<%= link_to 'New Ad', new_ad_path %>
<% end %>