<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
<% @ads.each do |ad| %>
  <div class="box col<%= rand(1..5) %>">
    <p><%= ad.title %></p>
    <p><% unless ad.pic_url.nil? %><%= image_tag ad.pic_url %><br /><% end %>
  </div>
</div>
<% end %>