<%= simple_form_for @reply, url: [:reply, conversation] do |f| %>
  <%= f.input :body, as: :text, :input_html => { :cols => 50, :rows => 3 } %>
  <div >
    <%= f.button :submit, "Send", class: 'btn btn-primary' %>
  </div>
<% end %>