<h3>Home</h3>
<body>
<p>Zipifieds.com intends to provide a better user experience while listing and searching classifieds ads online. Zipifieds allows you to search classified ads by zip code.</p>
</body>