<h3>Home</h3>
<body>
<p>Zipifieds.com is intended to provide a better user experience while listing and searching for classifieds ads online.</p>
<p>Following is a list of Zipifieds features.</p>
<ul>
 <li>Ads are "geocoded" by zip code.</li>
 <li>Internal messaging eliminates the need to expose your contact info in ad description.</li>
 <li>Facebook login allows listers to link to their Facebook pages.  It also allows ad seekers to verify the identity of the lister.</li>
</ul>
</body>